{% extends 'base/base.html' %}

{% block content %}
    <h1>Home</h1>
    {% for category in categories %}
        <div class="btn-group">
            <a href="{{ category.get_absolute_url }}" type="button" class="btn btn-danger">{{ category }}</a>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                {% for sub_category in category.scategories.all %}
                    <li><a class="dropdown-item" href="{{ sub_category.get_absolute_url }}">{{ sub_category }}</a></li>
                {% endfor %}

            </ul>
        </div>
    {% endfor %}

    <br><br>
    {% for product in products %}
        <div class="card " style="width: 18rem; display: inline-block">
            <img src="{{ product.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description|truncatewords:15 }}</p>
                <a href="{{ product.get_absolute_url }}" class="btn btn-outline-primary">Detail</a>
            </div>
        </div>

    {% endfor %}

{% endblock %}